#offer{
    background-color:#f4f7f8;
    
    
}

.offer-container{
    /* border: 1px solid rgb(80, 20, 219);  */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 4rem 0rem 2rem;
    gap: 2rem;
    
}

.offer-header2{
    font-weight: bold; 
    font-size: 25px;
    width: 80%;
}
.offer-p{
    width: 90%;
    font-weight: bold;
    line-height: 30px;
    color: #020202;
    font-size: 25px;
    margin-bottom: 30px;
}
#offer .offerImage img{
    
    padding: 2px;
      max-width: 90%;
      min-height: 10px;
      border-radius: 10px;
      /* border: 1px solid red;  */
     
}
.offer-content{
    /* border: 1px solid rgb(81, 228, 88);  */
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
    background-color: #efefef;
    box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -webkit-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
   

}
.offer-section{
    width: 100%;
    /* border: 1px solid rgb(104, 78, 78);  */

}
.form input{  
   width: 100%; 
   
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    padding: 13px 4px;
    box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
    -webkit-box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
    -moz-box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
 }
 .form .inputcat{
    margin: .3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    padding: 13px 2px;
    width: 100%;
 }
 .form .Search-Btn{
    margin: .3rem;
    background-color:  #20C6B1;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding: 13px 2px;
    width: 100%;
 }
 .form .Search-Btn:hover{
    margin: .3rem;
    opacity: .6;
    color: #efefef;
    cursor: pointer;
 }



@media(min-width:850px){
    #offer .offer-container{
        
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7rem;
    
    }
    
     .form input{   
      
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        border: none;
        padding: 18px 12px;
     }
     .offer-content{
        /* border:1px solid brown ; */
        width: 100%;
        margin-top: 70px;
        padding: 1rem;
     }
     .offerImage{
        width: 100%;
        /* border:1px solid rgb(243, 7, 7) ; */
     }
     .offer-section{
        /* border:1px solid brown ; */
        width: 100%;
       
        margin: 0;
       
     }
     #offer .offerImage img{
    margin-top: 6rem;
        padding: px;
          max-width: 90%;
          min-height: 10px;
          border-radius: 10px;
          /* border: 1px solid red;  */
         
    }
   
     
}