/* Category.css */

.Category {
    /* Add any container styles you need */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust spacing between cards */
    justify-content: center;
    align-items: center;
   padding: 2rem; 
  }
  
  .category-card {
    background-color: #EBF0F3;

    width: 100%;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s ease; /* Add a subtle hover effect */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    /* Customize font and other styles */
  }
  
  .category-card:hover {
    transform: translateY(-2px);
    cursor: pointer; /* Lift the card slightly on hover */
  }
  
@media(min-width:850px){
    .category-card {
        background-color: #EBF0F3;
        /* border: 1px solid #ddd; */
        width: 200px;
        height: 100px;
        border-radius: 8px;
       
        transition: transform 0.2s ease; /* Add a subtle hover effect */
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        /* Customize font and other styles */
      }
      .category-container {
       display: grid;
       grid-template-columns: repeat(4, 300px);
       gap: 1rem;
        /* width: 100%; */
      }
      
}