.CardProfile{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width:1200px ;
    padding: 20px;
}
.CardProfile-container{
    width: 300px;
    height: 150px;
    box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -webkit-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    
}

.info-profile{
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media  (min-width:850px){

    .CardProfile{
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    max-width:100%;
    padding: 30px;
     }
}