#about{
    background-color: rgb(253, 249, 244);
    
    
}

#about .container{
    /* border: 1px solid red;  */
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
    
}

.about-header2{
    font-weight: bold; 
    font-size: 25px;
    width: 80%;
}
.about-p{
    width: 90%;
    line-height: 30px;
    color: #020202;
    margin-bottom: 30px;
}
#about .aboutImage img{
    margin: 30px 0 20px;
    padding: 2px;
      max-width: 90%;
      min-height: 10px;
      border-radius: 10px;
     
     
}
.about-btn{
    padding: 1rem 2rem 1rem;
    font-size: 18px;
    background-color: var(--color);
    color: #efefef;
   cursor: pointer;
  border: none;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
    background-color: #efefef;
    box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -webkit-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 23px 54px -8px rgba(0,0,0,0.16);
   

}
.form input{  
   width: 100%; 
   
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    padding: 13px 4px;
    box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
    -webkit-box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
    -moz-box-shadow: -7px 44px 97px -18px rgba(0,0,0,0.29);
 }
 .form .inputcat{
    margin: .3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    padding: 13px 2px;
    width: 100%;
 }
 .form .Search-Btn{
    margin: .3rem;
    background-color:  #20C6B1;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding: 13px 2px;
    width: 100%;
 }
 .form .Search-Btn:hover{
    margin: .3rem;
    opacity: .6;
    color: #efefef;
    cursor: pointer;
 }



@media(min-width:850px){
    #about .container{
        padding: 5rem 0rem 5rem 0rem ;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7rem;
    
    }
    
     .form input{   
      
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        border: none;
        padding: 18px 12px;
     }
     .about-content{
        /* border:1px solid brown ; */
        width: 100%;
        margin-top: 70px;
        padding: 1rem;
     }
     .about-image{
        width: 100%;
        /* border:1px solid rgb(243, 7, 7) ; */
     }
     .hero-section{
        /* border:1px solid brown ; */
        width: 100%;
        padding: 0 3rem;
        margin: 0;
       
     }
     .form .inputcat{
      padding: 18px  2px;
      
   }
   .form .Search-Btn{
      padding: 18px  2px;
      width: 100%;
   }
     
}